/*
 * Site Grid
 * Color primary   :
 *       secondary :
 *
 * Created: Wil 
 ******************************/

/* Text-color */
/* ************************************************** */
.txt-green {
  color: green
}

.txt-red {
  color: red
}

.txt-blue {
  color: blue
}

.txt-yellow {
  color: yellow
}

.txt-purple {
  color: rgba(128, 0, 128, 1)
}

.txt-cyan {
  color: cyan
}

.txt-white {
  color: white
}

/* ************************************************** */
/* /Text-color */


/* Border */
/* ************************************************** */
.br-green {
  border: solid 2px green
}

.br-red {
  border: solid 2px red
}

.br-blue {
  border: solid 2px blue
}

.br-yellow {
  border: solid 2px yellow
}

.br-purple {
  border: solid 2px rgba(128, 0, 128, 1)
}

.br-cyan {
  border: solid 2px cyan
}

.br-white {
  border: solid 2px white
}

.br-black {
  border: solid 2px black
}

/* ************************************************** */
/* /Border */


/* Background */
/* ************************************************** */
.bg-green {
  background-color: green
}

.bg-red {
  background-color: red
}

.bg-blue {
  background-color: blue
}

.bg-yellow {
  background-color: yellow
}

.bg-purple {
  background-color: rgba(128, 0, 128, 0.8)
}

.bg-cyan {
  background-color: cyan
}

.bg-pink {
  background-color: pink
}

.bg-white {
  background-color: white
}

.bg-rosybrown {
  background-color: rosybrown
}

.bg-head {
  width: 100%;
  height: auto;
  background-image: url(../images/header.jpeg);
  background-position: center;
  /* adapte l'image à l'ecran */
  background-size: cover;
}

/* / Background */
/* ************************************************** */




/* Body*/
/* ************************************************** */
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
/* / Body*/
/* ************************************************** 




/* Padding */
/* ************************************************** */
.pd-5 {
  padding: 5px 5px 5px 5px;
}
/* / Padding*/
/* ************************************************** */




/* Structure Grid Area */
/* *************************************************************************************************** */

/* principale de la page
# correspond à un id / . correrspond à une classe
***************** */
#grid>header {
  grid-area: head;
}

#grid>#actu {
  grid-area: actu;
}

#grid>form {
  grid-area: form;
}

#grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 20% 20% 10% 10% 20% 20%;
  grid-auto-rows: auto;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas:
    "head head head head head head"
    "actu actu actu actu actu actu"
    "form form form form form form"
  ;
}

/* / principale
***************** */

/* header
******************************************************************** */
header>h1 {
  text-align: center;
  grid-area: t-header;
}

header>h3 {
  text-align: justify;
  grid-area: histo;
}

#grid>header {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 10% 80% 10%;
  grid-auto-rows: auto;
  /* grid-template-rows: 100px 100px; */
  grid-template-areas:
    " . t-header  . "
    " . histo . "
  ;
}
/* / header
********************************************************************** */


/* Actu
********************************************************************** */

/* Actu title
****************** */
#actu>.actu-title>h1 {
  text-align: center;
  grid-area: t-actu;
}

#grid>#actu>.actu-title {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-auto-rows: auto;
  /* grid-template-rows: 1fr; */
  grid-template-areas:
    ". . t-actu . ."
  ;
}
/* / Actu title
****************** */



/* Actu Card
****************** */
#actu>.actu-card>.card-a {
   grid-area: a;
}

#actu>.actu-card>.card-b {
  grid-area: b;
}

#actu>.actu-card>.card-c {
  grid-area: c;
}

#grid>#actu>.actu-card {
  display: grid;
  width: 100%;
  height: auto;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  /* grid-template-rows: 1fr; */
  grid-template-areas:
    "a b c"
  ;
}

#actu>.actu-card>.card>img {
  width: 100%;
  height: auto;
  padding: 5px;
  grid-area: img;
}

#actu>.actu-card>.card>h2 {
  width: 100%;
  height: auto;
  text-align: center;
  grid-area: title;
}

#actu>.actu-card>.card>h3 {
  width: 100%;
  height: auto;
  text-align: start;
  grid-area: desc;
}

#actu>.actu-card>.card>h4 {
  width: 100%;
  height: auto;
  text-align: center;
  grid-area: date;
}

#grid>#actu>.actu-card>.card {
  display: grid;
  width: 100%;
  height: auto;
  grid-column-gap: 5px;
  grid-template-columns: 10px 1fr 1fr 1fr 10px;
  grid-row-gap: 5px;
  /* grid-auto-rows: auto; */
  grid-template-rows: 1fr 160px 320px 70px;
  grid-template-areas:
    " . img img img ."
    ". title . . . "
    ". . desc . ."
    " . . . date ."
    ;
}
/* / Actu Card
****************** */
/* / Actu
*********************************************************************** */


/* Form
*********************************************************************** */
form>.form-title>h1 {
  text-align: center;
  grid-area: t-form;
}

#grid>form>.form-title{
  display: grid;
  width: 100%;
  height: auto;
  grid-column-gap: 5px;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-auto-rows: auto;
  /* grid-template-rows: 1fr 1fr 1fr 2fr 1fr; */
  grid-template-areas: ". . t-form t-form . ."
  ; 
}

form>.form-frame>.name {
  text-align: end;
  grid-area: in-name;
}

form>.form-frame>.mail {
  text-align: start;
  grid-area: in-mail;
}

form>.form-frame>.sujet {
  text-align: center;
  grid-area: t-suj;
}

form>.form-frame>.comment {
  text-align: start;
  grid-area: t-text;
}

form>.form-frame>.btn {
  text-align: start;
  grid-area: t-btn;
}

#grid>form>.form-frame {
  display: grid;
  width: 100%;
  height: auto;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: auto; */
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    ". . in-name  in-mail . ."
    ". . t-suj t-suj . ."
    ". . t-text t-text . ."
    ". . . . t-btn ."
  ; 
}     
/* / Form
*********************************************************************** *








/* / Grid Area */
/* **************************************************************************************************** */




/*

li {
  list-style: none;
}  */


/* nav>h2 {
  grid-area: t-nav;
}

nav>ul {
  grid-area: ul-nav;
}

#grid>nav {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 10% 20% 40% 20% 10%;
  grid-template-rows: 7vh;
  grid-template-areas: ". t-nav . ul-nav ."
  ;
}



/* Flex*/
/* .row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
} */



/* #grid>nav {
  grid-area: nav;
}





#grid>footer {
  grid-area: foot;
} */